*, *::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$body-color: linear-gradient(rgba(12, 122, 100), rgba(48, 32, 72));
$flex-display: flex;

body {
    display: $flex-display;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: $body-color;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: white;
}

.search {
    display: $flex-display;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    width: 100%;
    height: 10vh;
    background-color: rgba(32, 90, 90);
}

.search___form {
    display: $flex-display;
    flex-direction: column;
}

.search___form input{
    height: 30px;
    width: auto;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.search___form input:focus {
    height: 30px;
    width: auto;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.search___form___error {
    display: none;
}

.search___form___error.active {
    display: block;
    color: rosybrown;
    text-align: center;
}

.location, .temperature {
    display: $flex-display;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 50%;
}

.location___timezone {
    font-size: 50px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(12, 122, 100);
}

.temperature {
    flex-direction: column;
}

.temperature___section {
    display: $flex-display;
    align-items: center;
}

.temperature___section span {
    font-size: 40px;
    margin:10px;
}

.temperature___section h2 {
    font-size: 50px;
}

.temperature___section___details {
    display: $flex-display;
}

.temperature___section___details p {
    padding: 10px;
    align-items: center;
}